*{
    margin: 0;
    padding: 0;
}

header{
    background-color:#081b31;
    color: white;
    text-align: center;
    line-height: 1.5;
}

#icons-container{
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 100px 0px;
}
.icons{
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    background-position: center;
}
.icons:hover{
    box-shadow: 0 0 0 2px black;
}
#rock{
    background-image: url(images/rock.png);
}

#paper{
    background-image: url(images/paper.png);
}
#scissor{
    background-image: url(images/scissor.png);
}

#score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    text-align: center;
    padding-bottom: 50px;;
}

p{
    font-size: 1.5rem;
}
.score{
    font-size: 3rem;
    /* font-weight: bold; */
}

#mesg-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
#msg{
    text-align: center;
    background-color: antiquewhite;
    padding: 5px;
    border-radius: 10px;
    display: inline-block;
}